absl-py==1.0.0; python_version >= "3.6"
alembic==1.4.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.7" and sys_platform == "darwin"
argcomplete==2.0.0; python_version < "3.8.0" and python_version >= "3.7"
argon2-cffi-bindings==21.2.0; python_version >= "3.6"
argon2-cffi==21.3.0; python_version >= "3.6"
astunparse==1.6.3
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
autopage==0.4.0; python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
bleach==4.1.0; python_version >= "3.7"
cached-property==1.5.2; python_version < "3.8" and python_version >= "3.7"
cachetools==4.2.4; python_version >= "3.5" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.6"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.3; python_version >= "3.6"
cliff==3.10.0; python_version >= "3.6"
cloudpickle==2.0.0; python_version >= "3.6"
cmaes==0.8.2; python_version >= "3.6"
cmd2==2.3.3; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" and sys_platform == "win32" or python_full_version >= "3.5.0" and platform_system == "Windows" and sys_platform == "win32" and python_version >= "3.7"
colorlog==6.6.0; python_version >= "3.6"
cycler==0.11.0; python_version >= "3.7"
databricks-cli==0.16.2; python_version >= "3.6"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.0; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
docker==5.0.3; python_version >= "3.6"
entrypoints==0.3; python_full_version >= "3.6.1" and python_version >= "3.7"
flask==2.0.2; python_version >= "3.6"
flatbuffers==2.0
fonttools==4.28.5; python_version >= "3.7"
gast==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.26; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.6"
google-auth==2.3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-pasta==0.2.0
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and python_full_version >= "3.5.0"
grpcio==1.43.0; python_version >= "3.6"
gunicorn==20.1.0; platform_system != "Windows" and python_version >= "3.6"
gym==0.21.0; python_version >= "3.6"
h5py==3.6.0; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
importlib-metadata==4.10.0; python_version == "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "3.8")
importlib-resources==5.4.0; python_version < "3.9" and python_version >= "3.7"
ipykernel==6.6.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.6"
ipython==7.30.1; python_version >= "3.7"
ipywidgets==7.6.5
itsdangerous==2.0.1; python_version >= "3.6"
jedi==0.18.1; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.7"
joblib==1.1.0; python_version >= "3.7"
jsonschema==4.3.3; python_version >= "3.7"
jupyter-client==7.1.0; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-console==6.4.0; python_version >= "3.6"
jupyter-core==4.9.1; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter==1.0.0
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-widgets==1.0.2; python_version >= "3.6"
keras-preprocessing==1.1.2
keras==2.7.0
kiwisolver==1.3.2; python_version >= "3.7"
libclang==12.0.0
mako==1.1.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
markdown==3.3.6; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.7"
matplotlib==3.5.1; python_version >= "3.7"
mistune==0.8.4; python_version >= "3.7"
mlflow==1.22.0; python_version >= "3.6"
nbclient==0.5.9; python_full_version >= "3.6.1" and python_version >= "3.7"
nbconvert==6.4.0; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.6.1" and python_version >= "3.7"
nest-asyncio==1.5.4; python_full_version >= "3.6.1" and python_version >= "3.7"
notebook==6.4.6; python_version >= "3.6"
numpy==1.21.5; python_version >= "3.7" and python_version < "3.11"
oauthlib==3.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
opt-einsum==3.3.0; python_version >= "3.5"
optuna==2.10.0; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pandas==1.3.5; python_full_version >= "3.7.1"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.7"
pbr==5.8.0; python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==9.0.0; python_version >= "3.7"
prettytable==3.0.0; python_version >= "3.7"
prometheus-client==0.12.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prometheus-flask-exporter==0.18.7; python_version >= "3.6"
prompt-toolkit==3.0.24; python_full_version >= "3.6.2" and python_version >= "3.7"
protobuf==3.19.1; python_version >= "3.6"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.7" and sys_platform != "win32"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.5.0"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyglet==1.5.21
pygments==2.11.1; python_version >= "3.7"
pyparsing==3.0.6; python_version >= "3.7"
pyperclip==1.8.2; python_version >= "3.6"
pyreadline==2.1; sys_platform == "win32" and python_version < "3.8" and python_version >= "3.6"
pyrsistent==0.18.0; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
python-editor==1.0.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pytz==2021.3; python_full_version >= "3.7.1" and python_version >= "3.6"
pywin32==227; sys_platform == "win32" and python_version >= "3.7" and platform_python_implementation != "PyPy"
pywinpty==1.1.6; os_name == "nt" and python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
qtconsole==5.2.2; python_version >= "3.6"
qtpy==2.0.0; python_version >= "3.6"
querystring-parser==1.2.4; python_version >= "3.6"
requests-oauthlib==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests==2.27.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
rsa==4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.7.3; python_version >= "3.7" and python_version < "3.11"
send2trash==1.8.0; python_version >= "3.6"
setuptools-scm==6.3.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
sklearn==0.0
smmap==5.0.0; python_version >= "3.7"
sqlalchemy==1.4.29; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.6"
stevedore==3.5.0; python_version >= "3.6"
tabulate==0.8.9; python_version >= "3.6"
tensorboard-data-server==0.6.1; python_version >= "3.6"
tensorboard-plugin-wit==1.8.0; python_version >= "3.6"
tensorboard==2.7.0; python_version >= "3.6"
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1; python_version >= "3.7" and python_version < "3.11"
tensorflow==2.7.0
termcolor==1.1.0
terminado==0.12.1; python_version >= "3.6"
testpath==0.5.0; python_version >= "3.7"
threadpoolctl==3.0.0; python_version >= "3.7"
tomli==2.0.0; python_version >= "3.7"
torch==1.10.1; python_full_version >= "3.6.2"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
tqdm==4.62.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.1.1; python_full_version >= "3.6.1" and python_version >= "3.7"
typing-extensions==4.0.1; python_version >= "3.7" and python_full_version >= "3.6.2" and python_version < "3.8"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
waitress==2.0.0; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.0"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7"
websocket-client==1.2.3; python_version >= "3.6"
werkzeug==2.0.2; python_version >= "3.6"
widgetsnbextension==3.5.2
wrapt==1.13.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
zipp==3.7.0; python_version < "3.8" and python_version >= "3.7"
